@using WebApplication8.Models
@model List<adverts_table>
@{
    ViewBag.Title = "AdvertAdd";
}

<div class="row">
    <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-title-wrapper">
            <div class="page-title-box">
                <h4 class="page-title">İlan Paylaş</h4>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li class="breadcrumb-link">
                        <a href="/Home/Index"><i class="fas fa-home mr-2"></i>Anasayfa</a>
                    </li>
                    <li class="breadcrumb-link active">İlan Paylaş</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>@HttpContext.Current.User.Identity.Name</h3>
      

    </div>
    <div class="card-body">
        <form action="/Event/EventAdd" method="post" role="form">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="form-group">
                    <label class="col-form-label">BaşlıK</label>
                    <input class="form-control" type="text" placeholder="İlan Başlığı" name="events_title">
                </div>
                <div class="form-group">
                    <label class="col-form-label">İçerik</label>
                    <input class="form-control" type="text" placeholder="İlan İçeriği" name="events_content">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Kategori</label>
                    <select id="dropdown" name="role" class="form-control" required>

                        @foreach (help_type_table item in ViewBag.helps)
                        {

                            <option value="@item.help_type_id">@item.help_type</option>
                        }
                    </select>

                    <br />
                    
                    <br />
                    <div class="form-group mb-0">
                        <a href="Adverts/Index" class="btn btn-primary" type="button">Paylaş</a>
                        <a href="Helps/Blood_Donation" class="btn btn-light" type="button">Geri</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>

