
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h2> Yetkiniz yoktur </h2>
        <div class="modal-footer">
            <a href="/Event/Index" class="btn btn-success squer-btn" data-bs-dismiss="modal">Geri</a>
        </div>
    </div>
</body>
</html>
