@using WebApplication8.Models;
@model List<users_table>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-title-wrapper">
            <div class="page-title-box">
                <h4 class="page-title">Anasayfa</h4>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li class="breadcrumb-link">
                        <a href="index.html"><i class="fas fa-home mr-2"></i>Anasayfa</a>
                    </li>
                    <li class="breadcrumb-link active">@HttpContext.Current.User.Identity.Name</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <span class="img-thumb">
                    <img src="~/Content/image/world.png" alt=" " />
                    <span class="ml-2 fa-2x">Hoşgeldiniz , @HttpContext.Current.User.Identity.Name</span>
                </span>
            </div>
          
        </div>
    </div>

</div>