
@{
    ViewBag.Title = "Shelter";
}



<div class="row">
    <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-title-wrapper">
            <div class="page-title-box">
                <h4 class="page-title">Barınma Yardımı</h4>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li class="breadcrumb-link">
                        <a href="index.html"><i class="fas fa-home mr-2"></i>Anasayfa</a>
                    </li>
                    <li class="breadcrumb-link active">Barınma Yardımı</li>
                </ul>
            </div>
        </div>
    </div>
</div>
