@using WebApplication8.Models
@model List<events_table>
@{
    ViewBag.Title = "EventDetail";
}




<div class="row">
    <div class="col xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-title-wrapper">
            <div class="page-title-box">
                <h4 class="page-title">Etkinlik Detay</h4>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li class="breadcrumb-link">
                        <a href="index.html"><i class="fas fa-home mr-2"></i>Anasayfa</a>
                    </li>
                    <li class="breadcrumb-link active">Etkinlik Detay</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <span class="img-thumb">
                    <img src="~/Content/AdminLayout/image/table/1.jpg" alt=" " />
                    <span class="ml-2">Model.</span>
                </span>
            </div>
            <div class="card-body">
                <div class="modal" tabindex="-1" role="dialog" style="display: block;position: unset;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="fa-2x">hgbgdgbdg</h3>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>gdfgdfdgb  </p>
                            </div>
                            <div class="modal-footer">
                                <a href="/Events/Index" class="btn btn-success squer-btn" data-bs-dismiss="modal">Onayla</a>
                                <a href="/Events/EventDelete" class="btn btn-danger squer-btn">Red Et</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>